.Wrapper {
  box-sizing: border-box;
  background-color: azure;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#drum-machine {
  border: 2px solid blueviolet;
  background-color: blueviolet;
  border-radius: 25px;
  height: 60%;
  width: 60%;
  display: flex;
}

#keyboard {
  width: 70%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
}
#control {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.drum-pad {
  justify-content: center;
  align-items: center;

  display: flex;
}
.drum-item {
  border: 1px solid blueviolet;

  border-radius: 25px;
  height: 75%;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7vh;
  box-shadow: 2px 2px;
}
#display {
  border: 3px solid rgb(80, 83, 73);
  background-color: rgb(187, 144, 228);
  border-radius: 25px;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vh;
  text-align: center;
  margin: 4% 4% 4% 0%;
}
.text {
  height: 70%;
  font-size: 1.5em;
}
@media screen and (max-width: 750px) {
  #drum-machine {
    height: 75%;
    width: 75%;
  }
  #display {
    font-size: 1em;
  }
}

@media screen and (max-width: 450px) {
  .Wrapper {
    height: 80vh;
  }
  #drum-machine {
    height: 70%;
    width: 100%;
  }
}
@media screen and (max-height: 400px) {
  #display {
    font-size: 1.2em;
  }
  .text {
    font-size: 1.2em;
  }
 }
